p{
	color: white;
	background: black;
}
h2{
	color: white;
	border: solid black;
	text-shadow: -1px 1px 0 #000, 
                  1px 1px 0 #000, 
                  1px -1px 0 #000, 
                  -1px -1px 0 #000;
}
body footer{
		color: white;
		background-color: black;
		padding: 3px;
		text-align:center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

