h1,p{
	color: white;
	background: black;
}
h2{
	color: white;
	border: solid black;
	text-shadow: -1px 1px 0 #000, 
                  1px 1px 0 #000, 
                  1px -1px 0 #000, 
                  -1px -1px 0 #000;
}
body {
	color: white;
	background: black;
	
}
